* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 200px;
  background: #337bce;
}
.top {
  width: 800px;
  height: 200px;
  margin: 0 auto;
}
.t-center {
  width: 600px;
  height: 200px;
  float: left;
}
.b-bt {
  font-size: 66px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  margin: 30px 0;
}
.b-bts {
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
  color: #9bdafe;
}
.t-right {
  width: 200px;
  height: 200px;
  float: left;
}
.b-but {
  margin: 40px 0;
}
.text {
  margin-left: 70px;
  margin-top: -105px;
}
.white {
  color: #ffffff;
}
.main {
  width: 100%;
  height: 553px;
}
.middle {
  width: 800px;
  height: 453px;
  margin: 0 auto;
}
.n-center {
  width: 600px;
  height: 453px;
  float: left;
}
.h1 {
  margin-top: 30px;
}
.h2 {
  margin-top: 30px;
}
.h3 {
  margin-top: 30px;
}
.change1 {
  animation: move1 2s;
}
@keyframes move1 {
  0% {
    opacity: 0;
    letter-spacing: -200px;
  }
  50% {
    font: 40px bold;
  }
  60% {
    letter-spacing: 5px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0;
  }
}
.texts {
  overflow: hidden;
}
.n-right {
  width: 200px;
  height: 453px;
  float: left;
}
.but1 {
  width: 180px;
  height: 80px;
  background: #2e79d3;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
}
.select {
  color: blue;
}
.hiddentext {
  color: blue;
}

