* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 55px;
  border: 1px black solid;
}
.head {
  min-width: 768px;
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  float: left;
  height: 55px;
  padding: 0;
}
.logos {
  width: 100px;
  height: 55px;
}
.h-center {
  width: 950px;
  height: 55px;
  margin: 0 auto;
}
.h-c-left {
  width: 580px;
  height: 55px;
  float: left;
}
.home {
  width: 100px;
  height: 55px;
  float: left;
  font-size: 17px;
  text-align: center;
}
.home span {
  line-height: 50px;
}
.download {
  width: 100px;
  height: 55px;
  float: left;
  font-size: 17px;
  text-align: center;
}
.download span {
  line-height: 50px;
}
.IT {
  width: 100px;
  height: 55px;
  float: left;
  font-size: 17px;
  text-align: center;
}
.IT span {
  line-height: 50px;
}
.h-c-right {
  width: 280px;
  height: 55px;
  float: right;
}
.h-c-right input {
  padding: 0 40px 0 20px;
  width: 180px;
  height: 30px;
  border: 1px solid #eee;
  border-radius: 40px;
  margin-left: 10px;
  margin-top: 10px;
  background: #eee;
}
.h-right {
  width: 370px;
  height: 55px;
  float: left;
}
.Aa {
  width: 50px;
  height: 55px;
  float: right;
  font-size: 17px;
  text-align: center;
  color: #969696;
}
.Aa span {
  line-height: 50px;
}
.login {
  width: 50px;
  height: 55px;
  float: right;
  font-size: 17px;
  text-align: center;
  color: #969696;
}
.login span {
  line-height: 50px;
}
.left {
  width: 280px;
  height: 55px;
  float: right;
  margin-top: -55px;
}
.register {
  width: 140px;
  height: 55px;
  float: left;
}
.write {
  width: 140px;
  height: 55px;
  float: left;
}
.re {
  width: 80px;
  height: 40px;
  border: 1px #ea6f5a solid;
  border-radius: 40px;
  color: #ea6f5a;
  font-size: 17px;
  text-align: center;
  margin-top: 5px;
}
.re span {
  line-height: 40px;
}
.wr {
  width: 100px;
  height: 40px;
  border: 1px #ea6f5a solid;
  border-radius: 40px;
  color: #fff;
  background: #ea6f5a;
  font-size: 17px;
  text-align: center;
  margin-top: 5px;
}
.wr span {
  line-height: 40px;
}
footer {
  width: 100%;
  height: 600px;
}
.nav {
  width: 900px;
  height: 600px;
  background: lightblue;
  margin: 0 auto;
  padding-top: 10px;
}

